@import "./variables.scss";
@import "./common.scss";
@import "./animation.scss";

/*Mobile*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
        width: 100%;

        a.logo {
            display: flex;
            justify-content: center;
            padding: 15px;
            box-shadow: 0px 0px 5px 3px rgb(206, 206, 206);
            img {
                height: 40px;
            }

        }

    }

    div.gps {
        background-color: rgb(239, 239, 239);
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: -1;

        i {
            margin-right: 10px;
        }
    }

}

main {
    section.homepage {
        background-color: $homepageBackgroundColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;

        button {
            margin-top: 20px;
            margin-bottom: 40px;
            @include pinkButton;
            @include boxShadow;
        }
    }

    section.tuto {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;

        h2 {
            padding-left: 5%;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: baseline;
            margin-bottom: 5%;

            span.number {
                background: $primary;
                border-radius: 20px;
                padding-top: 2px;
                padding-right: 6px;
                padding-bottom: 2px;
                padding-left: 6px;
                font-size: 13px;
                color: white;
                height: min-content;
                z-index: 1;
                margin-right: -10px;
            }

            span.tuto-text {
                display: block;
                width: 90%;
                background-color: #f2f2f2;
                padding: 20px;
                border-radius: 15px;
                font-weight: bold;
                @include boxShadow;
                @include functioningItem;


                &:hover {
                    background: lighten($color: rgb(188, 199, 255), $amount: 10%);
                        i {
                            color: $primary;
                    }
                }

                i {
                    margin-left: 20px;
                    margin-right: 20px;
                    color: gray;
                    
                }
            }
        }
    }

    section.restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $homepageBackgroundColor;
        margin-top: 20px;

        h2 {
            width: 100%;
            padding-left: 5%;
        }

        div.card {
            width: 90%;
            background-color: white;
            border-radius: 16px;
            margin-bottom: 5%;
            @include boxShadow;
            position: relative;

            a {
                text-decoration: none;
                color: black;
            }

            img {
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                max-height: 200px;
            }

            div.container {
                display: flex;
                justify-content: space-between;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;

                div.card-text {
                    display: flex;
                    flex-direction: column;

                    span.card-title {
                        font-weight: bold;
                    }
                }

                div.like {
                    font-size: 20px;
                }
            }
        }
    }
}



/*Desktop*/

@media screen and(min-width: 769px){
    
     main {
      
        section.tuto {

            h2 {
                text-align: center;
                padding-left: 0;
                padding-bottom: 20px;
            }
    
            div {
       
                span.tuto-text {
                    width: 50%;
                }
            }
        }
    
        section.restaurant {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 100px;

            h2 {
                text-align: center;
                padding-left: 0;
                padding-bottom: 20px;
            }
        
            div.card {
                width: 45%;
                max-width: 400px;
                margin: 10px;
            }
        }
     }
}


